extends ../core/ui/layout/templates/map.pug

block title
  | Тестовое задание - верстка
block workarea
  block topPanel
    include ../sections/topPanel.pug

  block ranges
    include ../sections/ranges.pug

  block chosenFilters 
    include ../sections/chosenFilters.pug

    block filtersAccordion 
      include ../sections/filtersAccordion.pug