@use '../core/config/scss' as config;
@use '../core/lib/scss' as lib;
@use '../core/ui/layout';

@font-face {
  font-family: 'Proxima Nova Regular';
  src: url('../assets/fonts/ProximaNova-Regular.eot');
  src: local('Proxima Nova Regular'), local('ProximaNova-Regular'),
    url('../assets/fonts/ProximaNova-Regular.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/ProximaNova-Regular.woff') format('woff'),
    url('../assets/fonts/ProximaNova-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Bold';
  src: url('../assets/fonts/ProximaNova-Bold.eot');
  src: local('Proxima Nova Bold'), local('ProximaNova-Bold'),
    url('../assets/fonts/ProximaNova-Bold.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/ProximaNova-Bold.woff') format('woff'),
    url('../assets/fonts/ProximaNova-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Proxima Nova Semibold';
  src: url('../assets/fonts/ProximaNova-Semibold.eot');
  src: local('Proxima Nova Semibold'), local('ProximaNova-Semibold'),
    url('../assets/fonts/ProximaNova-Semibold.eot?#iefix')
      format('embedded-opentype'),
    url('../assets/fonts/ProximaNova-Semibold.woff') format('woff'),
    url('../assets/fonts/ProximaNova-Semibold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  &::-webkit-scrollbar {
    width: 8px;
  }

  &::-webkit-scrollbar-track {
    background-color: config.$colors-white;
  }

  &::-webkit-scrollbar-thumb {
    background-color: config.$colors-black;
  }
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.top-panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  column-gap: 16px;
  margin-bottom: 27px;
  margin-left: 15px;
  @media screen and (max-width: 970px) {
    margin-left: 0;
  }
  @media screen and (max-width: 970px) {
    flex-wrap: wrap;
    row-gap: 10px;
  }
  &__title {
    font-family: 'Proxima Nova Bold';
    font-size: 30px;
    line-height: 1;
    letter-spacing: 0.01em;
    text-align: left;
    margin-bottom: 0;
    font-weight: 400;
    @media screen and (max-width: 1200px) {
      font-size: 22px;
    }
    @media screen and (max-width: 970px) {
      font-size: 18px;
    }
    @media screen and (max-width: 780px) {
      font-size: 14px;
    }
  }
  &__search {
    background-color: transparent;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
    letter-spacing: 0.01em;
    text-align: left;
    color: config.$colors-white;
    width: 100%;
    border: none;
    outline: none;
    &::placeholder {
      font-family: 'Proxima Nova Regular';
      font-size: 16px;
      font-weight: 400;
      line-height: 1.35;
      letter-spacing: 0.01em;
      text-align: left;
      color: #959595;
      @media screen and (max-width: 1200px) {
        font-size: 15px;
      }
      @media screen and (max-width: 970px) {
        font-size: 13px;
      }
      @media screen and (max-width: 780px) {
        font-size: 11px;
      }
    }
    @media screen and (max-width: 1200px) {
      font-size: 15px;
    }
    @media screen and (max-width: 970px) {
      font-size: 13px;
    }
    @media screen and (max-width: 780px) {
      font-size: 11px;
    }
    &-container {
      width: 469px;
      height: 48px;
      padding: 12px 20px 12px 22px;
      border-radius: 12px;
      border: 1px solid #959595;
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 7px;
      &:focus-within {
        border: 1px solid config.$colors-white;
      }
      @media screen and (max-width: 1200px) {
        height: 40px;
      }
      @media screen and (max-width: 970px) {
        padding: 10px;
        height: 35px;
      }
      @media screen and (max-width: 780px) {
        width: 320px;
      }
    }
    &-icon {
      width: 20px;
      height: 20px;
      @media screen and (max-width: 970px) {
        width: 15px;
        height: 15px;
      }
    }
  }
  &__types {
    display: flex;
    align-items: center;
    gap: 10px;
    @media screen and (max-width: 500px) {
      gap: 5px;
    }
  }
}

.type {
  &__label {
    display: flex;
    align-items: center;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 48px;
    padding: 0 21px;
    background: linear-gradient(#353542, #353542) padding-box,
      linear-gradient(
          174.36deg,
          rgba(132, 213, 44, 0.36) 11.39%,
          rgba(23, 23, 34, 0) 100%
        )
        border-box;
    border-radius: 10px;
    border: 1px solid transparent;
    box-sizing: border-box;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
    &.active {
      background: linear-gradient(#212129, #212129) padding-box,
        linear-gradient(
            174.36deg,
            rgba(132, 213, 44, 0.36) 11.39%,
            rgba(23, 23, 34, 0) 189.78%
          )
          border-box;
      box-shadow: 0px 3px 15px 0px #84d52c33;
    }
    @media screen and (max-width: 1200px) {
      height: 40px;
    }
    @media screen and (max-width: 970px) {
      padding: 10px;
      height: 35px;
    }
  }
  &__checkbox {
    display: none;
  }
  &__container {
    display: flex;
    align-items: center;
    width: fit-content;
    height: 100%;
    gap: 10px;
    @media screen and (max-width: 500px) {
      gap: 5px;
    }
  }
  &__icon {
    width: 20px;
    height: 20px;
  }
  &__text {
    font-family: 'Proxima Nova Bold';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    text-align: left;
    white-space: nowrap;
    @media screen and (max-width: 1200px) {
      font-size: 15px;
    }
    @media screen and (max-width: 970px) {
      font-size: 13px;
    }
    @media screen and (max-width: 780px) {
      font-size: 11px;
    }
  }
}

.ranges {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 15px;
  @media screen and (max-width: 970px) {
    padding-left: 0;
  }
  @media screen and (max-width: 780px) {
    align-items: flex-end;
  }
  &__container {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 27px;

    @media screen and (max-width: 780px) {
      flex-direction: column;
      align-items: flex-start;
      gap: 10px;
    }
  }
  &__sliders {
    display: flex;
    gap: 27px;
    justify-content: flex-start;
    align-items: center;
    @media screen and (max-width: 780px) {
      gap: 10px;
    }
    @media screen and (max-width: 500px) {
      flex-direction: column;
      gap: 10px;
    }
  }
}
.range-slider {
  width: 225px;
  margin-top: 23px;
  height: 4px;
  border: none;
  position: relative;
  @media screen and (max-width: 970px) {
    width: 160px;
  }
  @media screen and (max-width: 780px) {
    width: 120px;
  }
  @media screen and (max-width: 500px) {
    width: 225px;
  }
  &__label {
    font-family: 'Proxima Nova Semibold';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
    text-align: left;
    color: config.$colors-white;
    @media screen and (max-width: 1200px) {
      font-size: 15px;
    }
    @media screen and (max-width: 970px) {
      font-size: 13px;
    }
    @media screen and (max-width: 780px) {
      font-size: 11px;
    }
  }
  &__inputs-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    margin-top: 15px;
  }
  &__input {
    background: transparent;
    border: none;
    outline: none;
    display: block;
    color: config.$colors-white;
    font-family: 'Proxima Nova Regular';
    font-size: 14px;
    font-weight: 400;
    line-height: 1.35;
    text-align: left;
    -moz-appearance: textfield;
    appearance: textfield;
    &::-webkit-outer-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    &::-webkit-inner-spin-button {
      -webkit-appearance: none;
      margin: 0;
    }
    @media screen and (max-width: 970px) {
      font-size: 13px;
    }
    @media screen and (max-width: 780px) {
      font-size: 11px;
    }
    &-wrapper {
      height: 20px;
      padding: 1px 5px;
      border-radius: 3px;
      border: 1px solid #606060;
      outline: none;
      background: #212129;
      display: inline-flex;
      justify-content: space-between;
      align-items: center;
      min-width: 47px;
      max-width: 50%;
      &--wide {
        min-width: 56px;
      }
      &--to {
        margin-left: auto;
      }
    }
    &-span {
      color: config.$colors-white;
      font-family: 'Proxima Nova Regular';
      font-size: 14px;
      font-weight: 400;
      line-height: 1.35;
      text-align: left;
      @media screen and (max-width: 970px) {
        font-size: 13px;
      }
      @media screen and (max-width: 780px) {
        font-size: 11px;
      }
    }
    &#price-to {
      min-width: 46px;
    }
    &::placeholder {
      color: #959595;
      font-family: 'Proxima Nova Regular';
      font-size: 14px;
      font-weight: 400;
      line-height: 1.35;
      text-align: left;
      @media screen and (max-width: 970px) {
        font-size: 13px;
      }
      @media screen and (max-width: 780px) {
        font-size: 11px;
      }
    }
  }

  .noUi {
    &-base {
      height: 4px;
      border: none;
    }
    &-connects {
      width: 100%;
      height: 4px;
      background: #30303d;
      border-radius: 3px;
      border: none;
    }
    &-connect {
      height: 4px;
      background: #7acb22;
      box-shadow: 0px 3px 15px 0px #84d52c4f;
      border: none;
    }
    &-handle {
      // position: relative;
      width: 16px;
      height: 16px;
      background: linear-gradient(193.42deg, #85d62d 23.76%, #6bab2b 86.01%);
      box-shadow: 3px 5px 12px 0px #ffffff33 inset;
      box-shadow: 0px 10px 27px 0px #1e1d2e4d;
      border-radius: 50%;
      border: none;
      right: -8px;
      cursor: pointer;
      &::after {
        display: none;
      }
      &::before {
        display: none;
      }
    }
    &-tooltip {
      position: absolute;
      width: fit-content;
      height: 26px;
      padding: 2px 5px;
      border-radius: 3px;
      background: #30303d;
      color: config.$colors-white;
      font-family: 'Proxima Nova Regular';
      font-size: 16px;
      font-weight: 400;
      line-height: 1.35;
      text-align: left;
      border: none;
      bottom: 26px;
      &::after {
        content: ' ';
        position: absolute;
        top: 100%;
        left: 50%;
        border-width: 5px;
        border-style: solid;
        border-color: #30303d transparent transparent transparent;
        transform: translate(-50%);
      }
      @media screen and (max-width: 1200px) {
        font-size: 15px;
      }
      @media screen and (max-width: 970px) {
        font-size: 13px;
      }
      @media screen and (max-width: 780px) {
        font-size: 11px;
      }
    }
  }
}

.range {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 106px;
  &__label {
    font-family: 'Proxima Nova Semibold';
    font-size: 16px;
    font-weight: 400;
    line-height: 1.35;
    text-align: left;
    margin-bottom: 5px;
    width: 100%;
    @media screen and (max-width: 1200px) {
      font-size: 15px;
    }
    @media screen and (max-width: 970px) {
      font-size: 13px;
    }
    @media screen and (max-width: 780px) {
      font-size: 11px;
    }
  }
  &__items {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
  }
  &__item {
    appearance: none;
    width: 4px;
    height: 20px;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
    &:checked {
      outline: 2px solid config.$colors-white;
      box-shadow: 0px 3px 15px 0px #84d52c4f;
    }
    &--yellow {
      background-color: yellow;
    }
    &--green {
      background-color: green;
    }
    &--tall {
      height: 26px;
    }
  }
  &__text {
    font-family: 'Proxima Nova Regular';
    font-size: 12px;
    font-weight: 400;
    line-height: 1.35;
    width: fit-content;
    color: #959595;
    margin-top: 1px;
    @media screen and (max-width: 780px) {
      font-size: 9px;
    }
    &-container {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 100%;
    }
  }
}

.dropdown {
  z-index: 100;
  position: relative;
  height: fit-content;
  &__btn {
    width: 100%;
    display: flex;
    justify-content: flex-end;
    cursor: pointer;
    &.active {
      background: linear-gradient(#212129, #212129) padding-box,
        linear-gradient(
            174.36deg,
            rgba(132, 213, 44, 0.36) 11.39%,
            rgba(23, 23, 34, 0) 189.78%
          )
          border-box;
      box-shadow: 0px 3px 15px 0px rgba(132, 213, 44, 0.2);
    }
  }
  &__icon {
    width: 48px;
    height: 48px;
    border: 1px solid transparent;
    background: linear-gradient(#353542, #353542) padding-box,
      linear-gradient(
          174.36deg,
          rgba(132, 213, 44, 0.36) 11.39%,
          rgba(23, 23, 34, 0) 189.78%
        )
        border-box;
    border-radius: 10px;
    box-sizing: border-box;
    @media screen and (max-width: 1200px) {
      height: 40px;
      width: 40px;
    }
    @media screen and (max-width: 970px) {
      height: 35px;
      width: 35px;
    }
  }
  &__container {
    width: fit-content;
    height: fit-content;
    padding: 20px;
    border-radius: 10px;
    background: #212129;
    box-shadow: 0px 10px 25px 0px #0f0f17a1;
    position: absolute;
    display: flex;
    top: 65px;
    right: 0;
    min-width: 217px;
    flex-direction: column;
    display: none;
  }
  &__header {
    margin-bottom: 10px;
    font-family: 'Proxima Nova Regular';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    text-align: left;
    color: config.$colors-white;
    @media screen and (max-width: 1200px) {
      font-size: 16px;
    }
    @media screen and (max-width: 970px) {
      font-size: 14px;
    }
    @media screen and (max-width: 780px) {
      font-size: 12px;
    }
  }
  &__list {
    display: flex;
    flex-direction: column;
    gap: 9px;
    align-items: flex-start;
  }
  .item {
    width: 100%;
    &__wrapper {
      display: flex;
      justify-content: flex-start;
      align-items: center;
      gap: 10px;
      &:hover {
        opacity: 0.6;
        cursor: pointer;
      }
    }
    &__icon {
      height: 24px;
      width: 24px;
      object-fit: cover;
      position: relative;
      display: flex;
      align-items: center;
      &-text {
        display: block;
        height: 8px;
        width: 22px;
        object-fit: cover;
        svg {
          width: 22px;
          height: 8px;
          object-fit: contain;
        }
      }
      &-svg {
        width: 10px;
        object-fit: contain;
        height: 10px;
      }
    }
    &__text {
      font-family: 'Proxima Nova Regular';
      font-size: 16px;
      font-weight: 400;
      line-height: 1.35;
      text-align: left;
      width: fit-content;
      white-space: nowrap;
      @media screen and (max-width: 1200px) {
        font-size: 15px;
      }
      @media screen and (max-width: 970px) {
        font-size: 13px;
      }
      @media screen and (max-width: 780px) {
        font-size: 11px;
      }
    }
  }
}

.chosen-filters {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: flex-start;
  gap: 30px;
  padding: 15px 15px 31px;
  @media screen and (max-width: 970px) {
    padding: 15px 0;
  }
  @media screen and (max-width: 780px) {
    gap: 15px;
  }
  @media screen and (max-width: 500px) {
    flex-direction: column;
    align-items: flex-start;
    gap: 10px;
  }
  &__list {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    gap: 10px;
    flex-wrap: wrap;
  }
  &__results {
    &-text {
      font-family: 'Proxima Nova Semibold';
      font-size: 16px;
      font-weight: 400;
      line-height: 1.35;
      text-align: left;
      white-space: nowrap;
      @media screen and (max-width: 1200px) {
        font-size: 15px;
      }
      @media screen and (max-width: 970px) {
        font-size: 13px;
      }
      @media screen and (max-width: 780px) {
        font-size: 11px;
      }
    }
  }
  .filter {
    display: flex;
    align-items: center;
    gap: 2px;
    padding: 5px 8px;
    border-radius: 20px;
    background: #297019;
    width: fit-content;
    @media screen and (max-width: 500px) {
      padding: 5px;
    }
    &__text {
      font-family: 'Proxima Nova Regular';
      font-size: 12px;
      font-weight: 400;
      line-height: 1.35;
      text-align: left;
      white-space: nowrap;
      @media screen and (max-width: 780px) {
        font-size: 11px;
      }
    }
    &__cancel-btn {
      display: flex;
      align-items: center;
      svg {
        width: 16px;
        height: 16px;
        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
        @media screen and (max-width: 500px) {
          width: 13px;
          height: 13px;
        }
      }
    }
  }
}

.filters-accordion {
  padding-left: 8px;
  @media screen and (max-width: 970px) {
    padding-left: 0;
  }

  &__background {
    position: absolute;
    width: 144.88px;
    height: 209.3px;
    top: 37%;
    left: -26px;
    transform: rotate(5.04deg);
    &.small {
      width: 70px;
      height: 90px;
      left: 0px;
      top: 25%;
    }
  }
  &__container {
    position: relative;
    border: 1px solid transparent;
    background: linear-gradient(#353542, #353542) padding-box,
      linear-gradient(
          174.36deg,
          rgba(132, 213, 44, 0.36) 11.39%,
          rgba(23, 23, 34, 0) 189.78%
        )
        border-box;
    border-radius: 10px;
    box-sizing: border-box;
    width: 243px;
    overflow: hidden;
    padding: 12px 22px 17px 16px;
  }
  &__item {
    &.active .filters-accordion__content {
      display: flex;
    }
    &.active .filters-accordion__arrow {
      transform: rotate(0);
    }
  }
  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
    font-family: 'Proxima Nova Semibold';
    font-size: 18px;
    font-weight: 400;
    line-height: 1.35;
    text-align: left;
    color: config.$colors-white;
    padding-bottom: 10px;
    &:hover {
      opacity: 0.6;
      cursor: pointer;
    }
    @media screen and (max-width: 1200px) {
      font-size: 16px;
    }
    @media screen and (max-width: 970px) {
      font-size: 14px;
    }
    @media screen and (max-width: 780px) {
      font-size: 12px;
    }
  }
  &__arrow {
    width: 13px;
    height: 8px;
    transform: rotate(180deg);
    transition: 0.1s ease-in-out;
  }
  &__content {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    gap: 6px;
    padding-bottom: 15px;
  }
  .checkbox {
    &__label {
      position: relative;
      font-family: 'Proxima Nova Regular';
      font-size: 16px;
      font-weight: 400;
      line-height: 1.35;
      text-align: center;
      color: #959595;
      padding-left: 20px;
      .active {
        color: config.$colors-white;
      }
      &:hover {
        cursor: pointer;
        color: config.$colors-white;
      }
      @media screen and (max-width: 1200px) {
        font-size: 15px;
      }
      @media screen and (max-width: 970px) {
        font-size: 13px;
      }
      @media screen and (max-width: 780px) {
        font-size: 11px;
      }
    }
    &__input {
      position: absolute;
      opacity: 0;
      cursor: pointer;
      height: 0;
      width: 0;
      &:checked ~ .checkbox__checkmark {
        background: linear-gradient(0deg, #84d52c, #84d52c),
          linear-gradient(
            266.56deg,
            rgba(107, 171, 43, 0.2) 0%,
            rgba(132, 213, 44, 0) 94.16%
          );
        border: none;
        svg {
          display: block;
        }
      }
      &:checked + .checkbox__text {
        color: config.$colors-white;
      }
    }
    &__checkmark {
      position: absolute;
      top: 2.5px;
      left: 0;
      height: 15px;
      width: 15px;
      background-color: transparent;
      border-radius: 2px;
      border: 1px solid rgba(255, 255, 255, 0.5);
      svg {
        width: 9.33px;
        height: 7.06px;
        top: 3.89px;
        left: 2px;
        position: absolute;
        display: none;
      }
    }
  }
}
