section.filters-accordion
  .filters-accordion__container
    svg.filters-accordion__background
      use(xlink:href='./assets/icons/default/sprite.svg#background-leaf')
    .filters-accordion__item.active
      .filters-accordion__header.active
        span Classification
        svg.filters-accordion__arrow
          use(xlink:href='./assets/icons/default/sprite.svg#accordion-arrow')
      .filters-accordion__content
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="type-all-indica")
            input(class="checkbox__input" type="checkbox" id="type-all-indica" data-filter="100% Indica")
            span.checkbox__text 100% Indica
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="type-all-sativa") 
            
            input(class="checkbox__input" type="checkbox" id="type-all-sativa" data-filter="100% Sativa")
            span.checkbox__text 100% Sativa
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="type-half-indica")
            input(class="checkbox__input" type="checkbox" id="type-half-indica" data-filter=">50% Indica")
            span.checkbox__text >50% Indica
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="type-half-sativa")
            input(class="checkbox__input" type="checkbox" id="type-half-sativa" data-filter=">50% Sativa")
            span.checkbox__text >50% Sativa
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
    .filters-accordion__item.active
      .filters-accordion__header.active
        span Production Method
        svg.filters-accordion__arrow
          use(xlink:href='./assets/icons/default/sprite.svg#accordion-arrow')
      .filters-accordion__content
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="method-indoor")
            input(class="checkbox__input" type="checkbox" id="method-indoor" data-filter="Indoor")
            span.checkbox__text Indoor
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox
          label(class="checkbox__label" for="method-outdoor")
            input(class="checkbox__input" type="checkbox" id="method-outdoor" data-filter="Outdoor")
            span.checkbox__text Outdoor
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="method-greenhouse")
            input(class="checkbox__input" type="checkbox" id="method-greenhouse" data-filter="Greenhouse")
            span.checkbox__text Greenhouse
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="method-light-deprivation")
            input(class="checkbox__input" type="checkbox" id="method-light-deprivation" data-filter="Light Deprivation")
            span.checkbox__text Light Deprivation
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox
          label(class="checkbox__label" for="method-mixed-light")
            input(class="checkbox__input" type="checkbox" id="method-mixed-light" data-filter="Mixed Light")
            span.checkbox__text Mixed Light
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="method-other")
            input(class="checkbox__input" type="checkbox" id="method-other" data-filter="Other")
            span.checkbox__text Other
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
    .filters-accordion__item.active
      .filters-accordion__header.active
        span Size
        svg.filters-accordion__arrow
          use(xlink:href='./assets/icons/default/sprite.svg#accordion-arrow')
      .filters-accordion__content
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="size-flower")
            input(class="checkbox__input" type="checkbox" id="size-flower" data-filter="Flower")
            span.checkbox__text Flower
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="size-preroll-flower")
            input(class="checkbox__input" type="checkbox" id="size-preroll-flower" data-filter="Pre-Roll Flower")
            span.checkbox__text Pre-Roll Flower
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="size-preroll-infused")
            input(class="checkbox__input" type="checkbox" id="size-preroll-infused" data-filter="Pre-Roll Infused")
            span.checkbox__text Pre-Roll Infused
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="size-preroll-leaf")
            input(class="checkbox__input" type="checkbox" id="size-preroll-leaf" data-filter="Pre-Roll Leaf")
            span.checkbox__text Pre-Roll Leaf
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="size-shake1")
            input(class="checkbox__input" type="checkbox" id="size-shake1" data-filter="Shake")
            span.checkbox__text Shake
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="size-smalls")
            input(class="checkbox__input" type="checkbox" id="size-smalls" data-filter="Smalls")
            span.checkbox__text Smalls
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="size-trim")
            input(class="checkbox__input" type="checkbox" id="size-trim" data-filter="Trim")
            span.checkbox__text Trim
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="size-shake2")
            input(class="checkbox__input" type="checkbox" id="size-shake2" data-filter="Shake")
            span.checkbox__text Shake
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="size-keef")
            input(class="checkbox__input" type="checkbox" id="size-keef" data-filter="Keef")
            span.checkbox__text Keef
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')
        .filters-accordion__checkbox.checkbox
          label(class="checkbox__label" for="size-fresh-frozen")
            input(class="checkbox__input" type="checkbox" id="size-fresh-frozen" data-filter="Fresh Frozen")
            span.checkbox__text Fresh Frozen
            span.checkbox__checkmark
              svg
                use(xlink:href='./assets/icons/default/sprite.svg#checkmark')